header {
    background-color: rgb(25, 25, 27);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(156, 10, 10);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}





.inicioref {
    display: block;
    width: 33%;
    padding: 15px 0;
    margin-bottom: 30px;
    background-color: rgb(156, 10, 10);
    text-align: center;
    text-decoration: none;
    color: rgb(220, 220, 230);
    font-weight: bold;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 5px;
}

.cabeza {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: rgb(47, 47, 52);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center top;   

}



main {
    color: rgb(220, 220, 230);
    padding: 30px;
    font-size: 20px;
    background-image: url("images/fondo.jpg");
}

#buttonsugerirpelicula {
    background-color:  rgb(47, 47, 52);
    color:rgb(220, 220, 230);
    border-color: rgb(220, 220, 230);
    border:solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    /*font-size: 20px;
    border-color:  rgb(156, 10, 10);
    color:  rgb(47, 47, 52);
    background-color:  rgb(23, 23, 26);
    font-weight:500;
    border:solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0;*/
}

.titulo {
    text-align: center;
}

* {
    margin: 0%;
    box-sizing: border-box;
}

.wrap {
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

.moviewrapper {
    display: flex;
}

.categorylist {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.categorylist .categoryitem {
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: rgb(156, 10, 10);
    text-align: center;
    text-decoration: none;
    color: rgb(220, 220, 230);
    font-weight: bold;
    border-radius: 5px;
}



.inicioref:hover {
    background-color:rgb(155, 34, 34);
}





.movielist {
    width: 80%;
    display: flex;
    flex-wrap: wrap;

}

.movielist .movieitem {
    width: 22%;
    margin-left: 3%;
    font-size: 14px;
    display: inline;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

.movielist .movieitem img {
    width: 100%;
}

.movielist .movieitem p {
    display: block;
    width: 100%;
    padding: 8px 0;
    background-color: rgb(25, 25, 27);
    height:55px;
    border-radius: 5px;
}

.movielist .movieitem a {
    text-decoration: none;
    color: rgb(220, 220, 230);
}

.redireccioninicio {
    margin-top: 8.5%;
    margin-bottom: 12%;
}

.cuestionariobloque {
    display: block;
    background-color:  rgb(47, 47, 52);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 120px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; 
    text-align: center;
    border-radius: 5px;
}

#sugg {
    border-radius: 5px;
    margin-left: 35%;
    width: 30%;
    margin-right: 35%;
    margin-top: 15%;
    text-align: center;
    background-color:  rgb(220, 220, 230);
    color: rgb(47, 47, 52);
}

#sugg button {
    margin-top: 30px;
    margin-bottom: 20px;
}

#botoncerrar {
    background-color: rgb(25, 25, 27);
    color:rgb(220, 220, 230);
    border-color:rgb(25, 25, 27);
    border:solid;
    border-radius: 5px;
    padding: 10px;
}

#botonbuscar {
    background-color:  rgb(220, 220, 230);
    color:rgb(25, 25, 27);
    border-color: rgb(25, 25, 27);
    border:solid;
    border-radius: 5px;
    padding: 10px;
}


/* Pagina individual peliculas */



.biopeli {
    display: block;
    background-color:  rgb(47, 47, 52);
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}

#poster-peli, .poster-peli {
    padding-right: 20px;
    padding-bottom: 40px;
    width: 200px;
    height: 300px;
}

.biopeli h1 {
    color:rgb(220, 220, 230);
    font-size:large;
    text-align: center;
}

.biopeli {
    text-align: justify;
}

.textobio {
    padding-right: 20px;
    padding-left: 20px;
}

.plataformas {
    display: block;
    background-color: rgb(25, 25, 27);
    border: solid;
    border-color: rgb(25, 25, 27);
    display: flex;
    align-items:flex-start;
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-radius: 5px;
}

.plataformas .plataformasindividual {
    margin-right: 15px;
}

/*rating*/



.rating:not(:checked) > input {
    position: absolute;
    appearance: none
}

.rating:not(:checked) > label {
    float:right;
    cursor: pointer;
    font-size: 30px;
    color:rgb(202, 202, 202);
}

.rating:not(:checked) > label::before {
    content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color:rgb(218, 122, 5)
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color:rgb(218, 122, 5)
}

.rating > input:checked ~ label {
    color:rgb(218, 122, 5)
}